.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.character {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.character img {
  width: 32px;
  height: 32px;
  margin-right: 1vw;
}

button {
  margin-top: 20px;
}

.champion_list_area{
  display: flex;
  justify-content: center;
}

.champion_list_area ul li{
  background-color: #57606f;
}
.champion_list_area ul{
  margin-left: px;
}
.champion_list1{
  color: #c65969
}
.champion_list2{
  color: #25a28d
}