/* .App {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
} */

.team {
  width: 100%;
  margin-bottom: 20px;
}

.character {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.character img {
  width: 5vw;
  height: 5vw;
  margin-right: 1vw;
}

button {
  margin-top: 20px;
}

.champion_list_area{
  display: flex;
  justify-content: space-between;
  /* padding-left: 10vw;
  padding-right: 10vw; */
}
.champion_list_area ul li{
  background-color: #57606f;
}
.root{
  background-color:#2f3542;
  color: white;
}
.champion_list1{
  color: #c65969
}
.champion_list2{
  color: #25a28d
}